* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #012030;
  gap: 40px;
}
h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}
.game {
  background: #13678a;
  border-radius: 10px;
  width: 902px;
  height: 602px;
  display: flex;
  flex-wrap: wrap;
}
.qua {
  height: 198px;
  width: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 130px;
  height: 130px;
}
.maior {
  width: 298px;
  height: 195px;
}
.img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show_winners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.show_winners p {
  font-size: 1.7rem;
  color: #fff;
}
.show_winners img {
  width: 20px;
  height: 20px;
}
#restore {
  background: rgb(30, 233, 30);
  border: none;
  border-radius: 50%;
}
#restore img {
  width: 3rem;
  height: 3rem;
}
